services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
      TZ: Asia/Kolkata
    volumes:
      - pgdata:/var/lib/postgresql  # <-- updated
    ports:
      - "5432:5432"

volumes:
  pgdata:
